<% @ad.comments.each do |comment| %>

<div class="row">
    <div class="col-md-12">
        <%= rating_for_user @ad, comment.member, 'quality', { readonly: true } %>
        <b><%= comment.member.email %></b>
        <span class="pull-right"><i><%= time_ago_in_words(comment.created_at) %></i></span>
        <p><%= comment.body %></p>
    </div>
</div>

<% unless @ad.comments.last == comment %>
    <hr>
<% end %>

<% end %>